# Base de datos
POSTGRES_DB=finanzas_hogar
POSTGRES_USER=finanzas_user
POSTGRES_PASSWORD=cambia_esto_por_una_password_segura

# Django
SECRET_KEY=genera_una_clave_larga_y_aleatoria
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Zona horaria
TZ=America/Bogota